<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        A simple blog page where you can create,view and delete blogs.This was
        built completely with Node and express with the help of Mongodb to store
        data.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
