<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      p {
        font-weight: bold;
        font-size: larger;
        text-align: center;
        color: black;
      }
    </style>
  </head>
  <body>
    <p>This is the about page</p>
    <p>you have routed successfully</p>
    <nav>
      <a href="/">Homepage</a>
      <a href="/about">About us</a>
    </nav>
  </body>
</html>
